section.about#about
	.container
		.row.text-center
			h2.about__title.text-uppercase About us
			h5.about__title Proin iaculis pursus consequat sem cure.
		.row
			.container
				include ./chronologyList/chronologyList.pug