section.greeting.text-center
	h2.greeting__welcome.text-capitalize Welcome to our studio!
	h1.greeting__niceToMeet.text-uppercase It's nice to meet you
	button.greeting__button.center-block Tell me more