.greeting {
	margin-top: (550% / 240 * 10);
	@include breakpoint($bigScreen) {
		margin-top: 25%;
    }
	@include breakpoint($lg) {
		margin-top: 20%;
    }
	@include breakpoint($md) {
		margin-top: (550% / 200 * 10);
    }
	@include breakpoint($xs) {
		margin-top: 0;
		position: relative;
		top: 150px;
    }
    @include breakpoint($xxs) {
		top: 100px;
    }
}

@import '__button.scss';
@import '__niceToMeet.scss';
@import '__welcome.scss';