section.services
	.container
		.row.text-center
			h2.services__title.text-uppercase Services
			h5.services__subtitle Proin iaculis purus consenquant sem cure.
		.row
			include ./servicesList/servicesList.pug