@import 'snippets.scss';
$Times: 'Times New Roman', Times, serif;


body {
  font-style: italic;
  color: #fff;
  background: linear-gradient(to bottom, hsl(0,0,58) 0%, hsl(0,0,59) 20%, hsl(0,0,60) 40%, hsl(0,0,61) 60%, hsl(0,0,59) 80%, hsl(0,0,60) 100%);
  font-family: $Times;
}

/********* 

  HEADER 

**********/
.header {
  min-height: 825px;
  background:  #606060;
  background: -webkit-linear-gradient(top, #606060 0%, #606060 25%, #a3a3a3 100%);
  background: -o-linear-gradient(top, #606060 0%, #606060 25%, #a3a3a3 100%);
  background: -moz-linear-gradient(top, #606060 0%, #606060 25%, #a3a3a3 100%);
  background: -ms-linear-gradient(top, #606060 0%, #606060 25%, #a3a3a3 100%);
  position: relative;
}

.logo {
  margin-top: 76px;
}
.logo__text{
  position: relative;
  font: {
    size: (45em / 36);
    family: $Times;
  }
  text-transform: uppercase;
  letter-spacing: 31px;
  color: #fff;
  &:hover {
   text-decoration: none;
   color: #fff;
  }
}
        
        
.models {
  background: transparent;
  @include border-radius(0px);
  position: relative;
  margin-top: 91px;
}

.shadow{
    position: absolute;
    z-index: -1;
    bottom: 20px;
    
}
.model {
  position:absolute;
  z-index: 0;
  &.right {
    left: 56%;
    .shadow{
     bottom: 20px;
     left: 19%;
    }
  }
  &.midle{
    left: 27%;
    top: 0;
    .shadow{
     bottom: 37px;
     left: 23%;
    }
  }
  &.left {
    left: 12%;
    .shadow{
     bottom: 20px;
     left: 19%;
    }
  }
}

.model__midle {
  box-sizing: border-box;
  border: 50px solid hsla(0, 0, 66, .2);
  z-index: 2;  
}
.model__left {
  box-sizing: border-box;
  border: 30px solid hsla(0, 0, 66, .2);
}
.model__right {
  box-sizing: border-box;
  border: 30px solid hsla(0, 0, 49, .2);
}              

.footer-logo {
    position: absolute;
    bottom: 5%;
    text-align: center;
}
.footer-logo__diviver {
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    width: 35%; 
    margin-bottom: 5px;
}           
.footer-logo__copyright{
  font-size: (13em / 14);
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}
/********* 

  END HEADER 

**********/   

/********* 

   MAIN

**********/ 


.articles__one{
  background-color: hsl(0,0,63);
}
.articles__two{
  background-color: hsl(0,0,54);
}

.article__img--border {
  border: 15px solid hsla(0, 0, 75, .5);
}
.article__img {
  margin: 51px 0;
}
.img-one__img {
  margin-left: 41px;      
}


.article__text {
  margin: 0 35px;   
}
.article__heading {
  margin: 49px 0 10px;
  font-size: (32em / 22);
}
.article__paragraph {
  font: {
    family: $Times;
    size: (12em / 14);
  }
  line-height: (22em / 12);
  margin: 0;
  overflow: hidden;
}


.discriptions {
  background: linear-gradient(to top, hsl(0,0,57) 0%, hsl(0,0,57) 20%, hsl(0,0,59) 50%, hsl(0,0,61) 70%, hsl(0,0,63) 100%);
  background: -webkit-linear-gradient(to top, hsl(0,0,57) 0%, hsl(0,0,57) 20%, hsl(0,0,59) 50%, hsl(0,0,61) 70%, hsl(0,0,63) 100%);
  background: -moz-linear-gradient(to top, hsl(0,0,57) 0%, hsl(0,0,57) 20%, hsl(0,0,59) 50%, hsl(0,0,61) 70%, hsl(0,0,63) 100%);
  background: -o-linear-gradient(to top, hsl(0,0,57) 0%, hsl(0,0,57) 20%, hsl(0,0,59) 50%, hsl(0,0,61) 70%, hsl(0,0,63) 100%);
  background: -ms-linear-gradient(to top, hsl(0,0,57) 0%, hsl(0,0,57) 20%, hsl(0,0,59) 50%, hsl(0,0,61) 70%, hsl(0,0,63) 100%);
}
.a-thing-is-described {
  margin-top: 51px;
}

.thing__heading {
  font-size: (32em / 22);
}
.thing__paragraph {
  font-size: (12em / 14);
  line-height: (23em / 12);
}
/********* 

  END MAIN

**********/

/********* 

  FOOTER

**********/
.footer{
    margin-top: 2px;
    background: hsl(0,0,63);
    height: 226px;
}
.footer__logo {
    @extend .logo;
}
.footer__diviver {
    @extend .footer-logo__diviver;
}

/********* 

  END FOOTER

**********/


@media (min-width: 1200px) { 
  /********* 

    HEADER 

  **********/
    .logo__text{
    left: 39%;    
   }
  /********* 

    END HEADER 

  **********/
}

@media (min-width: 992px) and (max-width: 1199px) {
    /********* 

      HEADER 

    **********/
    .header{
      min-height: 800px;
    }
    .logo__text{
      left: 36%;    
     }    
    .model {
        &.right {
          left: 55%;
          .shadow{
             bottom: 10px;
             left: 19%;
          }  
        }
        &.midle{
            left: 24%;
             .shadow{
               bottom: 25px;
               left: 20%;
             }  
        }
        &.left {
            left: 4%;
            .shadow{
             bottom: 10px;
             left: 19%;
          }  
        }
    }
    .model__right {
      box-sizing: border-box;
      border: 20px solid hsla(0, 0, 66, .5);
      }
    .model__left {
      box-sizing: border-box;
      border: 20px solid hsla(0, 0, 66, .5);
    }
    .model__midle {
      box-sizing: border-box;
      border: 35px solid hsla(0, 0, 66, .5);
      position: relative;
    }    
    .footer-logo {
      bottom: 5%;
      text-align: center;
    }
    .footer-logo__diviver {    
      width: 40%;          
    } 
    /********* 

      END HEADER 

    **********/
}
        
        
      
    
    


@media (min-width: 768px) and (max-width: 991px) {
    /********* 

      HEADER 

    **********/
    .header{
       min-height: 700px;
     }
        
    .logo__text{
      left: 33%;    
     }               
      
        .model {
          &.right {
            left: 57%;
            .shadow{
             bottom: 10px;
             left: 19%;
             width: 65%;
          }  
           }
          &.midle{
            left: 21%;
            .shadow{
             bottom: 22px;
             left: 18%;
             width: 65%;
            }  
          }
          &.left {
            left: 2%;
            .shadow{
             bottom: 10px;
             left: 15%;
             width: 65%;
            }       
         }
      }
      .model__right {
        box-sizing: border-box;
        border: 20px solid hsla(0, 0, 66, .5);
      }
      .model__left {
        box-sizing: border-box;
        border: 20px solid hsla(0, 0, 66, .5);
      }
     .model__midle {
        box-sizing: border-box;
        border: 35px solid hsla(0, 0, 66, .5);
      }
        
     .footer-logo {
        bottom: 5%;
        text-align: center;
       }
      .footer-logo__diviver {        
         width: 52%; 
       }  
     /********* 

      END HEADER 

     **********/   
    
    /********* 

      MAIN 

     **********/
    .img-one__img{
      margin-left: 20px;
    }
    
    .article__text {
      margin-left: 10px;
    }
    
    .text-one {
        margin-right: 0;
        margin-left: 25px;
    }
    
    .text-two {
        margin-right: 25px;
    }
    
    /********* 

      END MAIN

     **********/
    
}

@media (min-width: 576px) and (max-width: 767px) {
    /********* 

      HEADER 

    **********/ 
    .header{
     min-height: 650px;
     }
    
    .logo__text{
      left: 30%;    
     } 
    
    .models{
      margin-top: 50px;
    }
    .model {
      &.right {
        left: 56%;
        .shadow{
          bottom: 8px;
          left: 25%;
          width: 50%;
        }  
      }
      &.midle{
        left: 21%;
        top: -10px;
        .shadow{
           bottom: 15px;
           left: 25%;
           width: 50%;
         }  
       }
       &.left {
         left: 4%;
         .shadow{
           bottom: 8px;
           left: 23%;
           width: 50%;
          }  
        }
      }
     .model__midle {
       box-sizing: border-box;
       border: 25px solid hsla(0, 0, 66, .5);
     }    
     .model__left {
       box-sizing: border-box;
       border: 15px solid hsla(0, 0, 66, .5);
     }
     .model__right {
       box-sizing: border-box;
       border: 15px solid hsla(0, 0, 66, .5);
     }
    
     .footer-logo {
       bottom: 5%;
       text-align: center;
      }
     .footer-logo__diviver {        
        width: 52%; 
      }
    /********* 

      END HEADER 

    **********/ 
    
     /********* 

      MAIN 

     **********/
    .article__img {
        margin: 51px 0 0; 
    }
    .img-one__img {
        margin: 0;
    }
    
    .article__heading {
        margin-top: 0;
        text-align: center;
    }
    .article__text{
        margin: 0 0 20px;
    }
    
    .a-thing-is-described:nth-child(4){
        margin-bottom: 20px;
    }
    /********* 

      END MAIN

     **********/
    
}

@media (max-width: 575px) {
    /********* 

      HEADER 

    **********/ 
    .header {
      min-height: 475px;
    }
    
    .logo{
      text-align: center;
    }
    .logo__text{
      font-size: 1vm;
      margin-left: 25px;
      margin-right: auto;
    }
      
    .models {
       margin-top: 30px;
    }
    .model {
      &.right {
        left: 54%;
        .shadow{
           bottom: 5px;
           left: 25%;
           width: 50%;
         }  
      }
      &.midle{
        left: 21%;
        .shadow{
           bottom: 13px;
           left: 25%;
           width: 50%;
         }  
      }
      &.left {
        left: 3%;
        .shadow{
           bottom: 5px;
           left: 25%;
           width: 50%;
         }    
      }
    }
    .model__right {
       box-sizing: border-box;
       border: 10px solid hsla(0, 0, 66, .5);
    }
    .model__left {
      box-sizing: border-box;
      border: 10px solid hsla(0, 0, 66, .5);
    }
    .model__midle {
      box-sizing: border-box;
      border: 20px solid hsla(0, 0, 66, .5);
    }
    
    .footer-logo__diviver {        
      width: 65%; 
    } 
   .footer-logo__copyright{
        font-size: (6em / 11);
        font-size: 1.8vw;
        letter-spacing: 5px ;
    } 
    /********* 

      END HEADER 

    **********/ 
    
    /********* 

      MAIN 

     **********/
    
    .article__img {
        margin: 30px 0 0;
        min-width: 150px;
    }
    .img-one__img {
        margin: 0;
    }
    
    .article__heading {
        margin-top: 0;
        text-align: center;
    }
    .article__text{
        margin: 20px 0;
    }
    
    .a-thing-is-described__image > img {
      min-width: 105px;
    }
    
    .thing {
        margin-left: 22px;
    }
    
    .thing__heading {
      margin-top: 0;
    }
    
    .a-thing-is-described:nth-child(4){
        margin-bottom: 20px;
    }
    
   
    /********* 

      END MAIN

     **********/
}