main.main
	.container
		include ./_sauna.pug
		<!-- begin aboutSauna -->
		article.aboutSauna.center-block
		
			h4.aboutSauna__mainTitle.title Финская сауна &mdash; европейский опыт и огромная популярность


			p.aboutSauna__paragraph Сегодня финская сауна в Екатеринбурге пользуется огромной популярностью. Стоимость ее посещения невысока, а вот оздоровительный эффект превосходен. Как показала практика, финская баня прекрасно снимает физическое напряжение, расслабляет мышцы, стимулирует работу кровеносной системы. Если снять финскую сауну не один раз, а сделать такие посещения регулярными, то удается существенно укрепить здоровье. Для семейного бюджета это ненакладно, ведь цена билета демократична. Доказано, что финская сауна способствует нормализации обмена веществ и кровяного давления. Человек при периодических визитах сюда становится бодрым душой и телом. А ввиду того стоимость билета низка, расходы не тяготят.

			h5.aboutSauna__title.title Финская сауна: цена, особенности
			p.aboutSauna__paragraph Финская баня отличается от русской тем, что здесь используется сухой пар. Соответственно, влажность воздуха здесь не превышает 25%, а вот температура воздуха достигает 90 – 110°С. В ряде случаев финская и более усовершенствованная инфракрасная баня способна прогреться до температуры в 130°С. Если вы собираетесь снять парилку такого типа, то можете не опасаться «зажариться» в ней. Вследствие низкой влажности жар тут переносится значительно легче, чем в классической русской бане. Недаром инфракрасная сауна рекомендована для посещения абсолютно всех людей. Цена билета доступна также всем.
			p.aboutSauna__paragraph Физическое расслабление здесь достигается путем чередования воздействия на тело сухого пара и прохладной воды. Многие люди предпочитают снять инфракрасную сауну именно потому, что ее действие более мягкое, щадящее, но весьма эффективное. Да и цена привлекательна. В ходе парения в ней организм успешно очищается от имеющихся в нем шлаков и токсинов. Причем, собираясь снять парилку этого типа, не приходится заботиться о приобретении веников. В инфракрасной бане они не нужны. В стоимость билета входят некоторые банные услуги (выдатся полотенца, простыни). 

			h4.aboutSauna__title.title Инфракрасная сауна: цена демократична, оздоровление для всех
			p.aboutSauna__paragraph Врачами инфракрасная сауна в Екатеринбурге рекомендована  практически всем. В отношении таких банных процедур ограничений не существует. Тем более что стоимость их невелика. Инфракрасную баню разрешено посещать даже маленьким детям, беременным женщинам и старикам.
			p.aboutSauna__paragraph Собираясь снять восточную парилку, нужно учесть, что билет имеет более низкую стоимость в дневные часы. Вечером его цена поднимается. Это объясняется тем, что люди после работы желают снять физическое и психологическое напряжение. А восточная парилка отлично подходит для этого.
			p.aboutSauna__paragraph Целесообразно снять инфракрасную парилку всей семьей. В таком случае цена существенно ниже. А вот в ночные часы и в выходные дни стоимость визита в инфракрасную баню, наоборот, поднимается. Это обусловлено тем, что в указанный период снять финскую парилку желают многие горожане. Так как наплыв посетителей огромен, сауны стоимость поднимают.
		<!-- end aboutSauna -->