main.main
	.container
		h2.main__title.title.text-center Первомайская, 77, +7 (343) 36-16-911
		<!-- begin jumbotron -->
		.jumbotron
			a.banner(href="/new-zal", rel='alternate')
				figure.banner__image
		<!-- end jumbotron -->
		<!-- begin greeting -->
		section.greeting
		
			h4.greeting__mainTitle Вас приветствуют бани и сауны Екатеринбурга
			p.greeting__paragraph Современные бани и сауны города Екатеринбурга предоставляют горожанам возможность помыться, расслабиться телом и душой, приятно и с пользой для организма провести время. Фактически бани представляют собой многоцелевой центр — оздоровительный, досуговый, лечебно-профилактический и т.п.
			p.greeting__paragraph В таком центре, как правило, есть парилка, душ, бассейн, spaсалон, тренажерный зал, буфет и т.д. Билет сюда стоит относительно дешево. Он является пропуском сразу во все комплексы, работающие в этом центре.
			p.greeting__paragraph Конечно, каждая сауна цены на услуги устанавливает индивидуальные. Они зависят от технического оснащения и внутреннего обустройства заведения. Стандартные сауны дёшево стоят. Чтобы снять VIP-комплексы, придется заплатить несколько дороже.
			h5.greetin__title Центр для всех
			p.greeting__paragraph В бани ходят индивидуально, всей семьей, дружеской компанией. Здесь можно принимать водные процедуры в общем отделении или снять для этого отдельную парилку. Второй вариант обходится более дёшево тем, кто пришел в центр. К тому же, семья или компания, решившая снять отдельную парилку, будет чувствовать себя более комфортно в бане.
			p.greeting__paragraph Многие деловые люди в городе предпочитают снять сауну или баню для партнеров по бизнесу. В обстановке неги и расслабления, которую создают бани, переговоры проходят более спокойно и конструктивно
			p.greeting__paragraph Таким образом, екатеринбургские бани доступны людям разного социального класса, уровня дохода. И еще один важный момент. Снять дешевую парилку могут как екатеринбуржцы, так и те, кто прибыл в город по делам, в командировку, к друзьям или на отдых. Каждая баня в Екатеринбурге открыта для всех желающих.

			h5.greetin__title Снять парилку любого типа
			p.greeting__paragraph Сегодня можно снять дешевые сауны разного типа: стандартную или VIP. Кроме того, в городе представлены бани и сауны любого «национального направления»: от традиционной русской парилки до хаммама. Все они достаточно дешевые, соответствуют требованиям санитарии и гигиены. Город заботится о том, чтобы каждая сауна центр обеспечивала людям хороший отдых, предоставляла услуги на высоком профессиональном уровне, а цены были доступны.

			h5.greetin__title Цены
			p.greeting__paragraph Средняя цена на сауну в Екатеринбурге варьируется в пределах 800-1200 рублей за час. Причем, цена меняется от времени суток. Естественно, снять сауну дёшево можно днем. Вечером и ночью цены на услуги этого заведения возрастают. В праздничные и выходные дни из-за большого наплыва посетителей снять парилку трудно. Поэтому это нужно делать заранее. Цена билета в такие дни выше, чем цены в будни.
			p.greeting__paragraph Если вы хотите снять сауну дёшево и в удобное для вас время, заказывайте ее предварительно.   
			<!-- begin bathesList -->
			ul.bathesList
				li.bathesListItem
					a.bathesListItem__refer(href='/index.php/russkaya-banya', rel='alternative')
				li.bathesListItem
					a.bathesListItem__refer(href='/snyat-banyu-na-vse-vykhodnye', rel='alternative')
			<!-- end bathesList -->
		<!-- end greeting -->


