main.main
	.container
		include ./_sauna.pug
		article.aboutSauna.center-block
		
			h4.aboutSauna__mainTitle.title Турецкий хамам &mdash; экзотике вкупе с оздоровлением


			p.aboutSauna__paragraph Экзотическая для России турецкая сауна вызывает все больший интерес горожан. Сюда их приводит любопытство и низкая цена на услуги. Но попав однажды в хамам (так называется турецкая баня), человек вдруг открывает для себя реальную возможность поправить пошатнувшееся здоровье, укрепить силы, улучшить самочувствие. После чего неизбежно снова и снова возвращается сюда с одним желанием &mdash;  снять на вечерок восточную парилку для себя, своей семьи, друзей.
			p.aboutSauna__paragraph Регулярное посещение восточной бани не обременительно для семейного бюджета. Ведь входной билет имеет демократичную цену. В его стоимость входит плата за пользование душем, полотенцами, простынями. Чем солидней хамам, тем дороже снять в нем парилку. цена напрямую зависит от ровня комфорта заведения.

			h5.aboutSauna__title.title Чем специфична турецкая сауна, Екатеринбург чему удивляется?
			p.aboutSauna__paragraph Хамам отличается от русской бани тем, что температура воздуха здесь варьируется в пределах 35 - 550C, а от финской бани — тем, что влажность воздуха здесь фактически равна 100%. Подобная специфика достигается за счет того, что пар вырабатывается не в парилке, а за ее пределами. Для этого в соседней комнате размещается усиленно кипящий котел. Пар через сотни небольших отверстий поступает в парилку. Он легкий, мягкий.
			p.aboutSauna__paragraph Собираясь снять турецкую сауну, будьте готовы к тому, что лежать вам придется на мраморном ложе. Из этого же материала выполнены пол и стены парилки. Мрамор не позволяет перегреться тем, кто решился снять турецкую сауну и расслабиться в уютной, спокойной обстановке. Здесь комфортно даже гипертоникам.
			p.aboutSauna__paragraph Пар медленно насыщает кожу живительной влагой, раскрывает ее поры, после чего заставляет кровь двигаться по сосудам быстрее, а токсичные вещества выходить наружу. В принципе турецкая сауна стоимость и оздоровительный эффект имеет схожий с ценой на билет и результативностью посещения финской бани. Разница в том, что первая действует более мягко. Парные процедуры здесь целесообразно совмещать с аромотерапией.

			h4.aboutSauna__title.title Турецкая сауна: цена от чего зависит?
			p.aboutSauna__paragraph Собираясь снять восточную парилку, нужно учесть, что билет имеет более низкую стоимость в дневные часы. Вечером его цена поднимается. Это объясняется тем, что люди после работы желают снять физическое и психологическое напряжение. А восточная парилка отлично подходит для этого.
			p.aboutSauna__paragraph Кроме того, турецкая сауна цену имеет повышенную и в выходные дни. Стоимость также поднимается из-за большого потока посетителей. Те усиленно желают снять парилку, чтобы расслабиться здесь в кругу близких, друзей, коллег, деловых партнеров.
			p.aboutSauna__paragraph Вам нравится турецкая сауна, стоимость ее хотите снизить? Тогда вам надо снять ее сразу на несколько человек. Цена в пересчете на одного человека окажется мизерной. Тем более, если снять ее на компанию и семью, то досуг будет гораздо веселее и приятней. 
			<!-- begin bathesList -->