.headingBorder.hidden-xs
section.info__section.section
  h5.section__heading Pellentesque facilisis
  p.section__paragraph.paragraph.
    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna.
    <div class="clearfix"></div>
    <a href="#" class="paragraph__more pull-right">{ ... }</a>
section.info__section.section
  h5.section__heading Vestibulum
  p.section__paragraph.paragraph. 
    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. 
  p.section__paragraph.paragraph.
    Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in dolor.
    <div class="clearfix"></div>
    <a href="#" class="paragraph__more pull-right">{ ... }</a>
section.info__section.section
  h5.section__heading News
  p.section__paragraph.paragraph.
    <span class="paragraph__date">17/02/2012</span>
    <span class="paragraph__heading">Etiam ullamcorper in Paris</span>
    Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus.
    <div class="clearfix"></div>
    <a href="#" class="paragraph__more pull-right">{ ... }</a>
  p.section__paragraph.paragraph.
    <span class="paragraph__date">17/02/2012</span>
    <span class="paragraph__heading">Etiam ullamcorper in Paris</span>
    Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus.
    <div class="clearfix"></div>
    <a href="#" class="paragraph__more pull-right">{ ... }</a>
  