// START HEADER 
.header {  

}

.travel {
  border: 5px solid $lightBrown;
  max-width: 964px;
  @extend %fs-24;
  padding: (22.5% /  471 * 100) 0 (28.5% / 471 * 100) 0 ;
}

.travel__superTitle {
  @extend %relative;
  &:after {
      content: '';
      left: 100%;
      margin-left: -55%;
      @extend %absolute;
      @extend %whiteBg;
      @extend  %borderWidth;
      @extend  %borderHeigth;
      @extend %bottomBorder;
      
    }
}
.travel__superTitle, .travel__title  {
  color: $white;
}
.travel__title {
  font-size: (185em /  $baseSizeFont); 
  @extend %secondFont;
}
.travel__subTitle {
  color: $lightBrown;
}
/* END HEADER */
