.main  {
	
} 

.section {
	background-color: $darkenGray;
	padding: (33.5% / 588 * 100) (22.5% / 588 * 100) (22.5% / 588 * 100);
	@extend %relative;

}


.button {
	@extend .btn;
	@extend %noneBackground;
	@extend %relative;
	max-width: 190px;
	padding: 15px 0;
	@extend %four;
	@extend .text-uppercase;
	@extend %fs-18;
	border-radius: 0;
	@include smooth-transition-button($darkenLightBrown);
	color: $lightBrown;
	border: 0.5px solid $lightBrown;
	@extend %largeTopMargin;
	&:after {
	    content: '';
	    @extend %absolute;
	    @extend %zeroRight;
	    @extend %lightBrownBg;
	    @extend %zeroBottom;
	    width: 2px;
	    @extend %fullWidth;
	  }
}
.section__imageContainer {
	max-width: 588px;
	// @extend %absolute;
}
.aboutSection {
	margin-top: (357% / 5503 * 100);
}
.aboutSectionContainer__image {
	@include responsive-background(
		(588% / 658 * 100), 
		'./../img/me.png'
	);
}

.aboutInfo__paragraph:first-of-type {
	margin-top: (33.5% / 588 * 100);
}
.aboutSectionContainer {
	

}
.containerImage {
	
}
