| {% extends "base.html" %}
| {% load pages_tags %}

| {% block content %}
h2.mainTitle.text-center {{ page.name }}
| {% if page.name == "Апартаменты" %}
p.text-center(style='max-width: 35rem; font-weight: bold')
	a(href="{% url 'prices' %}") Цены
| {% if page.services %}
<!-- begin services -->
section.services.center-block.col-lg-4(style='float: none')
	h2.title.title_color-white К вашим услугам:
	ul.servicesList
		| {% for service in page.services|get_array %}
		li.servicesList__service {{ service }}
		| {% endfor %}
<!-- end services -->
| {% endif %}
//- end page.services
| {% else %}
| {% if page.schedule %}	
<!-- begin schedule -->
section.schedule.col-lg-8
	| {% for schedule in page.schedule|get_array %}
	h2.title.title_color-white {{ schedule.title }}
	ul.list-unstyled.daysList
		li.daysList__day {{ schedule.condition_1 }}
		| {% if schedule.condition_2 %}
		li.daysList__day {{ schedule.condition_2 }}
		| {% endif %}
		| {% if schedule.condition_3 %}
		li.daysList__day {{ schedule.condition_3 }}
		| {% endif %}
	| {% if schedule.note %}
	p.schedule__warn {{ schedule.note }}
	| {% endif %}
	| {% endfor %}
<!-- end schedule -->
| {% endif %}	
| {% if page.services %}
<!-- begin services -->
section.services.col-lg-4
	h2.title.title_color-white К вашим услугам:
	ul.servicesList
		| {% for service in page.services|get_array %}
		li.servicesList__service {{ service }}
		| {% endfor %}
<!-- end services -->
| {% endif %}
//- end page.services
| {% endif %}
//- end if page.name

.clearfix
<!-- begin photos -->
| {% if page.gallery %}
section.photos
	h2.title.textContainer.textContainer_color-white.text-center Фотографии
	.photosList
		| {% for photo in page.gallery.id|get_photo %}
		a.photoContainer.col-lg-3.col-md-4.col-sm-6.col-xs-12(href="/media/{{ photo.image }}",
			 data-lightbox="gallery" )
			img.photoContainer__photo.img-responsive.fadeOut(data-src="/media/{{ photo.image }}", alt="{{ photo.alt }}")
		| {% endfor %}
| {% endif %}
| {% if page.content %}
| {{ page.content|safe }}
| {% endif %}
<!-- end photos -->
| {% endblock %}