| {% extends "base.html" %}
| {% load pages_tags %}

| {% block content %}
ul.saunaList.list-unstyled
	| {% for sauna in page.sauna|get_array %}
	li.sauna
		a.sauna__href(href="{% url 'sauna' slug=sauna.slug %}")
			figure.sauna__figure(style='background-image: url("/media/{% if sauna.thumb %}{{ sauna.thumb.image }}{% endif %}");')
			h2.sauna__title {{ sauna.name }}
	| {% endfor %}
| {% endblock %}
