
- var icons = {'twitter': 'https://twitter.com', 'facebook': 'https://facebook.com','pinterest-p': 'https://pinterest.com/', 'google': 'https://pinterest.com/'}
footer.footer 
  .container 
    p.copyright.pull-left &copy;&nbsp;Copyright 2017 shining-present.ru
    ul.list-unstyled.footerSocials.pull-left
        each ref, icon in icons
          li.footerSocials__icon.text-center
            a.not-follow(href= ref)
              i(aria-hidden="true", class="fa fa-1x fa-"+icon)