/* START FOOTER	*/
.footerInfo 
	min-height: 320px;
	@extend %relative
	background: url('./../img/footer-bg.png') center repeat;
	&:after
		content: ''
		@extend %absolute
		@extend %zeroTop
		@extend %zeroLeft
		height: 5px;
		@extend %fullWidth
		@include responsive-background($url: './../img/footer-top.png');

	// border-left: 0
	// border-bottom: 0
	// border-right: 0
  

/* 
	END FOOTER
							*/
/* 
	START FOOTER CONTACTS 
										*/
									
.footer__paragraph, .footerContacts, .copyright	



.footer__paragraph 

	

.footerContacts 

	
	
 

.footerContactsItem 


.footerContactsItem__label 



.footerContactsItem__contact 


/* 
	END FOOTER CONTACTS 
										*/
/* 
	STANRT FOOTER COPYRIGHT 
											*/					
.copyright 

.copyright__refer 

// END FOOTER COPYRIGHT 
											
