footer.footer(itemscope, itemtype='http://schema.org/Person')
    span.sr-only(itemprop="name") Сауна Острова
    .container
        //- figure.figure.figure_name-floor
        //- figure.figure.figure_name-pretty_woman
        | {% if settings.footer_photo %}
        <!-- begin presentation -->
        ul#presentation.presentation
          | {% for photo in settings.footer_photo.id|get_photo %}
          li.footerNavItem.col-lg-3.col-md-4.col-sm-4.col-xs-6
            a(href="/media/{{ photo.image }}", data-lightbox="roadtrip")
               img.img-responsive.fadeOut(data-src="/media/{{ photo.image }}")
          | {% endfor %}
        <!-- end presentation -->
        | {% endif %}
    <!-- begin footerInfo -->
    .footerInfo
      .container 
        <!-- begin footerContacts -->
        address.footerContacts.col-lg-4.col-md-6.col-sm-12.col-xs-10
            h2.title.title_color-black.footerContacts__title Мы ждём вас:
            figure.figure.figure_name-phone.figure_relative
            ul.footerContactsList.list-unstyled
              li.footerContactsItem(itemscope, itemtype="http://schema.org/PostalAddress" )

                      strong.footerContactsItem__label По адресу:
                      br
                      a.footerContactsItem__refer.not-follow(href='{{ settings.addressHref }}')
                          span(itemprop="addressLocality") 
                          span(itemprop="streetAddress") {{ settings.address }}
              li.footerContactsItem
                  strong.footerContactsItem__label Телефон для записи:
                  br
                  | {% if settings.footer_phone %}
                  a.not-follow.footerContactsItem__refer(href='tel:{{ settings.footer_phone }}')
                      span(itemprop="telephone") {{ settings.footer_phone }}
                  | {% endif %}
        <!-- end footerContacts -->
        <!-- begin aboutUs -->
        .aboutUs.col-lg-8.col-md-12.col-sm-12.col-xs-10.pull-right
            figure.figure.figure_name-star
            h2.title.title_color-brown О нас
            figure.figure.figure_relative.figure_name-basket.col-lg-3.col-md-3.col-sm-4.col-xs-12
            //- .clearfix.visible-xs
            p.aboutUs__paragraph.col-lg-9.col-md-9.col-sm-8.col-xs-12.pull-right Сауны Екатеринбурга гостеприимно распахивают перед Вами свои двери. Говорят, что убить двух зайцев одним выстрелом &mdash; это большая удача. Проведя время в сауне, вы убьете одним выстрелом гораздо больше зайцев. Во-первых, вы приятно и весело проведете время. 
            p.aboutUs__paragraph.aboutUs__paragraph.col-lg-9.col-md-9.col-sm-8.col-xs-12.pull-right Парные с профессиональными банщиками, комнаты отдыха с баром и бильярдом, массаж, стрип-шоу &mdash; это все для вас. Во-вторых, сауны и бани &mdash; это замечательный способ поправить свое здоровье или поддерживать его в великолепной форме. В-третьих, в сауне можно легко и приятно расслабиться, отдохнуть от повседневных забот.
                
        <!-- end aboutUs -->
        <!-- begin сopyright -->
        .col-lg-4.col-md-6.col-sm-12.col-xs-12.copyright
            <!--LiveInternet counter-->
            #liveCounter
                 
            
            <!--/LiveInt ernet-->
            figure.figure.figure_name-bucket
            h3.copyright__title.title.text-right {{ settings.footer_copyright }}
            
        <!-- end сopyright -->
    <!-- end footerInfo -->