section.team#team
	.container
		.row.text-center
			.container
				h2.team__title.text-uppercase Our amaizing team
				h5.team__subtitle Proin iaculis pursus consequat sem cure.
		.row
			.container
			include ./teamList/teamList.pug
		.row
			.container
				p.team__paragraph.text-center Sint voluptatibus sed id, reiciendis libero, veritatis dolores quis quas. Officiis est hic ipsum error ullam nihil vel, rem similique.