section.team
	.container
		.row.text-center
			h2.team__title.text-uppercase Our portfolio
			h5.team__subtitle Proin iaculis pursus consequat sem cure.
		.row
			include ./teamList/teamList.pug
		.row
			p.team__paragraph Sint voluptatibus sed id, reiciendis libero, veritatis dolores quis quas. Officiis est hic ipsum error ullam nihil vel, rem similique.