- var firms = ['envato', 'wp', 'tuts', 'ml']

ul.customersList.list-unstyled
	each firm in firms
		li.customersListFirm
			figure(class="customersListFirm__image customersListFirm__image--name_"+firm)