header.header
	.container
		.travel.text-center.center-block
			h3.travel__superTitle.text-uppercase Lorem ipsume
			h1.travel__title Travel
			h3.travel__subTitle.text-uppercase The inspirational adventures around the world