.socials__icon {
	@extend %inline-block;
	@extend %solidBorder;
	@extend %widthBorder2;
	border-color: $darkGray;
	@extend %iconProportions;
	@extend %round;
	&:not(:last-child) {
		@extend %defaultRightMargin;
	}
	& .fa {
		color: $darkGray;
		line-height: 2.4em;
	}

	
}