.worker {
	@extend %four;
	@extend .pull-left;
	@extend %relative;
	top: 200px;	
	@include breakpoint($xs) {
		width: span(12);
	
	}
}


.worker:not(:first-of-type) {
	@include breakpoint($xs) {
		margin-top: 2em;
	}
}

@import '__post.scss';
@import '__name.scss';
@import 'socials.scss';
@import 'workerImageContainer.scss';