section.connect
	.connectImageContainer
		figure.connectImageContainer__image
	.container
		.row.text-center
			.container
				h2.connect__title.text-uppercase Contact us
				h5.connect__subtitle Proin iaculis pursus consequat sem cure.
		.row
			.container
				include ./connectForm/connectForm.pug
		