$lightGray: #f1f1f1;
$lightenGray: #bbbbbb;
$darkenLightGray: #e0e0e0;
$darkGray:  #222222;
$darkenGray: #333333;
$white: #fefeff;

$black: #080808;
$gray: #737373;
$darkenWhite: #f9f9f9;

$shadow: rgba(0, 0, 0, .8);

// 058d71
// $darkRed: #6c4040;
$orange: #da2713;
$paleOrange: #d95232;
$red: #cb2028;
$skyBlue: #00aced;
$blue: #3b5998;
$yellow: #fed136;


// Links 
$baseColorFont: $black;
$baseLinkColor: $gray $i;
$baseHoverLinkColor: $gray;
$baseHoverLinkBackgroundColor: transparent;
$baseVisitedLinkColor: $black;
$baseActiveLinkColor: $black;
$baseFocusLinkColor: $black;


// Base Body Background
$bodyColorBg: $white;
