// Fonts
$mainFont: 'Montserrat', serif;
$additionalFont:  'Droid Serif', serif;
$additionalSecondFont: 'Proxima Nova', serif;

$nameFont: 'Proxima Nova';
$normalFont: '../fonts/ProximaNova/ProximaNovaR';
$boldFont: '../fonts/ProximaNova/ProximaNovaB';
$italicFont: '../fonts/ProximaNova/ProximaNovaRI';
$boldItalicFont: '../fonts/ProximaNova/ProximaNovaBI';
$lightFont: '../fonts/ProximaNova/ProximaNovaL';
$lightItalicFont: '../fonts/ProximaNova/ProximaNovaLI';


@font-face {
  font-family: $nameFont;
  font-weight: normal;
  font-style: normal;
  src: url('#{$normalFont}.eot');
  src: local('#{$nameFont}'),
    url('#{$normalFont}.woff') format('woff'),
    url('#{$normalFont}.ttf') format('truetype'),
    url('#{$normalFont}.svg') format('svg');
}
@font-face {
  font-family: $nameFont;
  font-weight: normal;
  font-style: italic;
  src: url('#{$italicFont}.eot');
  src: local('#{$nameFont}'), 
    url('#{$italicFont}.woff') format('woff'),
    url('#{$italicFont}.ttf') format('truetype'),
    url('#{$italicFont}.svg') format('svg');
}
@font-face {
  font-family: $nameFont;
  font-weight: bold;
  font-style: normal;
  src: url('#{$boldFont}.eot');
  src: local('#{$nameFont}'),
    url('#{$boldFont}.woff') format('woff'),
    url('#{$boldFont}.ttf') format('truetype'),
    url('#{$boldFont}.svg') format('svg');
}
@font-face {
  font-family: $nameFont;
  font-weight: bold;
  font-style: italic;
  src: url('#{$boldItalicFont}.eot');
  src: local('#{$nameFont}'),
    url('#{$boldItalicFont}.woff') format('woff'),
    url('#{$boldItalicFont}.ttf') format('truetype'),
    url('#{$boldItalicFont}.svg') format('svg');
}
@font-face {
  font-family: $nameFont;
  font-weight: bold;
  font-style: italic;
  src: url('#{$lightFont}.eot');
  src: local('#{$nameFont}'),
    url('#{$lightFont}.woff') format('woff'),
    url('#{$lightFont}.ttf') format('truetype'),
    url('#{$lightFont}.svg') format('svg');
}

@font-face {
  font-family: $nameFont;
  font-weight: 300;
  font-style: italic;
  src: url('#{$lightItalicFont}.eot');
  src: local('#{$nameFont}'), 
    url('#{$lightItalicFont}.woff') format('woff'),
    url('#{$lightItalicFont}.ttf') format('truetype'),
    url('#{$lightItalicFont}.svg') format('svg');
}

// Semantic-ui
// @font-face {
//   font-family: 'octicons';
//   font-weight: normal;
//   font-style: normal;
//   src: url('octicons.eot');
//   src: local('../fonts/octicons-local.ttf'),
//     url('../fonts/octicons.woff') format('woff'),
//     url('../fonts/octicons.ttf') format('truetype'),
//     url('../fonts/octicons.svg') format('svg');
// }






$secondNameFont: 'DriodSerif';
$secondItalicFont: '../fonts/DriodSerif/DriodSerif-Italic';


@font-face {
  font-family: $secondNameFont;
  font-weight: normal;
  font-style: italic;
  src: url('#{$secondItalicFont}.eot');
  src: local('#{$secondNameFont}'), 
    url('#{$secondItalicFont}.woff') format('woff'),
    url('#{$secondItalicFont}.ttf') format('truetype'),
    url('#{$secondItalicFont}.svg') format('svg');
}
 

$thirdNameFont: 'Montserrat';
$thirdNormalFont: '../fonts/Montserrat/Montserrat-Regular';
$thirdBoldFont: '../fonts/Montserrat/Montserrat-Bold';

@font-face {
  font-family: $thirdNameFont;
  font-weight: normal;
  font-style: normal;
  src: url('#{$thirdNormalFont}.eot');
  src: local('#{$thirdNameFont}'),
    url('#{$thirdNormalFont}.woff') format('woff'),
    url('#{$thirdNormalFont}.ttf') format('truetype'),
    url('#{$thirdNormalFont}.svg') format('svg');
}

@font-face {
  font-family: $thirdNameFont;
  font-weight: bold;
  font-style: normal;
  src: url('#{$thirdBoldFont}.eot');
  src: local('#{$thirdNameFont}'),
    url('#{$thirdBoldFont}.woff') format('woff'),
    url('#{$thirdBoldFont}.ttf') format('truetype'),
    url('#{$thirdBoldFont}.svg') format('svg');
}



// Uncomment, if you need to use font-awsome.
@font-face {
  font-family:'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');
}

