.about__sociality.sociality.text-center
  p.sociality__row.
    Folow us at Twittaspan <a href="#" class="row__icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>           
    Join us at Facebook <a href="#" class="row__icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>         
    Subscription by <a href="#" class="row__icon"><i class="fa fa-rss" aria-hidden="true"></i></a>         
    Contact us via E-mail <a href="#" class="row__icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>