.about__contact.contact.text-center
  p.contact__row. 
    Territorio s.a - Warszawa, Zielona 5 - Polska | tel. <a  class="row__tel" href="tel:48-444-44-444">+48.444.44.444</a>| fax.<a class="row__tel" href="tel:48-444-44-444"> +48.334.34.33</a> | <a href="#" class="row__privacy">privacy</a> | <a href="#" class="row__info">info</a> | Design by Webvilla.pl 2012