

%button {
  @extend .btn;
  color: $white;
  background-color: $yellow;
  min-width: 240px;
  min-height: 65px;
  @extend %roundBorder3;
  @extend .text-uppercase;
  @include smooth-transition-button;
  
}

