

%button {
  @extend .btn;
  color: $darkGray;
  @extend %yellowBg;
  max-width: 240px;
  min-height: 65px;
  @extend %roundBorder3;
  @extend .text-uppercase;
  @include smooth-transition-button;
  @extend %fullWidth;
  @include breakpoint($xs) {
		max-width: 190px;
		min-height: 55px;
  }
}

