%baseInput {
	@extend %fullWidth;
	@extend %fs-14;
	padding: 20px 0 0 19px;
	@extend .text-uppercase;
	// transition: box-shadow 0.5s, background-color 0.5s, color 0.5s $i;
	@extend %roundBorder3;
	@extend %innerShadow;
	// @include placehodler-color-focus($gray);
	@extend %solidBorder;
	@extend %widthBorder2;
	&:required {
		border-color: $paleOrange;
	}
	&:valid {
		border-color: $blue;
	}
	&:invalid {
		border-color: $red;	
	}
}

%formInput {
	@extend %baseInput;
	height: 50px;
}


%formTextarea {
	@extend %baseInput;
	height: 210px;
	max-height: 210px;
}


%formError {
	
}

%controller {
	
}