%baseInput {
	@extend %fullWidth;
	@extend %fs-14;
	max-width: 455px;
	padding-left: 19px;
	@extend %roundBorder3;
	@extend %whiteBg;
	@extend %block;
	

	&::-webkit-input-placeholder {
      text-transform: uppercase;
  	}

  	&:-ms-input-placeholder {
      text-transform: uppercase;
  	}

	&::-moz-placeholder {
	  text-transform: uppercase;

	}

	&:-moz-placeholder {
	  text-transform: uppercase;
	}
	@include breakpoint($sm-less) {
		margin-left: auto;
		margin-right: auto;
	}
}

%formInput {
	@extend %baseInput;
	height: 50px;
	@extend %block;
	@extend %bigTopMargin;
	&:first-of-type {
		@include breakpoint($sm-less) {
			margin-top: 0;
		}
	}
}



%formTextarea {
	@extend %baseInput;
	height: 218px;
	max-height: 218px;
	padding-top: 10px;
	
}


%formError {
	
}

%controller {
	
}