.info__headings {
  border-width: 1px 0;
  border-style: solid;
  border-image:  linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) 1;
}
.headings__heading {
  width: 30%;
  text-transform: uppercase;
  font: {
    size: (20rem / 16);      
    family: $stackCentury;
    weight: 600;
  }
}

