.footerSocials {
	@extend .pull-left;
	@extend %eight;
	@include breakpoint($sm-less) {
		width: span(6);
	}
	@include breakpoint($xs) {
		width: span(12);
		margin-top: 1em;
	}

}

@import '__icon.scss';