%darkGrayBg {
	background-color: $darkGray;
}

%whiteBg {
	background-color: $white;
}

%lightBrownBg {
	background-color: $lightBrown;
}

%noneBackground {
	background-color: transparent;
}


%responsiveBackground {
  background: center top no-repeat;
  background-size: cover;
}