{% load static %}<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Адаптивная Кроссбраузерная Вёрстка Филипп Журавлёв">
    <meta http-equive="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="./../../static/public/img/favicon.ico">
    <title>Финская парная</title>
    <style>
      .curtain {
        margin: 0;
        padding: 0;
        background-color: #67a7a7;
        padding-top: 35vh;
        height: 100%;
        width: 100%;
        z-index: 11;
        position: fixed;
        top: 0;
        left: 0;
        transition: width 1.5s, opacity 1s;
      
      }
      .sk-cube-grid {
        transition: width 1.5s, opacity 1s;
        width: 80px;
        opacity: 1;
        height: 80px;
        margin: 80px auto;
        z-index: 12;
      }
      .sk-cube-grid .sk-cube {
        width: 33.33%;
        height: 33.33%;
        background-color: #f4f4f4;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
      }
      .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0.0s;
                animation-delay: 0.0s; }
      .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1); }
        35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1); } }
      @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1); }
        35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1); } }
    </style>
  </head>
  <body>
    <div class="curtain">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
    <header class="header">
      <div class="container">
        <nav class="navigation navbar navbar-default" role="navigation" aria-labelledby="headerNav">
          <div class="container"><span class="sr-only" id="headerNav">The header"s navigation</span>
            <div class="navbar-header navHeader col-lg-4 col-sm-12">
              <button class="navigation__openMenuButton navbar-toggle" id="toggle" type="button" data-toggle="collapse" data-target="#navbar_collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="brand navbar-brand visible-block center-block zoom" href="{% url 'home' %}" rel="up"> 
                <figure class="brand__name"></figure></a>
            </div>
            <div class="navbarCollaps collapse navbar-collapse col-lg-8" id="navbar_collapse">
              <ul class="nav navbar-nav navList">
                <li class="navItem"><a class="navItem__refer" href="{% url 'home' %}">Главная</a></li>
                <li class="navItem"><a class="navItem__refer" href="{% url 'turkish' %}">Турецкий хамам</a></li>
                <li class="navItem active"><a class="navItem__refer" href="{% url 'finskaya' %}">Финская парная</a></li>
                <li class="navItem"><a class="navItem__refer" href="{% url 'new-zal' %}"> <span>New! </span>Новый зал!</a></li>
                <li class="navItem"><a class="navItem__refer" href="{% url 'contact' %}" rel="contact">Контакты</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <h1 class="mainTitle text-center">Сауна Девятка: Финская парная</h1><!-- begin schedule -->
        <h2 class="saunaTitle saunaTitle_big">Финская сауна + Турецкий хамам + Бильярд!</h2>
        <section class="schedule col-lg-8">
          <ul class="list-unstyled daysList">
            <li class="daysList__day">с 9:00 до 17:00 &mdash; 500 руб.\час</li>
            <li class="daysList__day">с 17:00 до 09:00 – 1000 руб.\час</li>
          </ul>
          <h2 class="schedule__title saunaTitle">Будние дни с ПН по ЧТ</h2>
          <ul class="list-unstyled daysList">
            <li class="daysList__day">с 9:00 до 17:00 – 500 руб.\час</li>
            <li class="daysList__day">с 17:00 до 09:00 – 1000 руб.\час</li>
          </ul>
          <p class="schedule__warn">*свыше 6 чел, за каждого последующего 100 руб.\час</p>
        </section><!-- end schedule -->
<!-- begin services -->
        <section class="services col-lg-4">
          <h2 class="schedule__title saunaTitle">К вашим услугам:</h2>
          <ul class="servicesList">
            <li class="servicesList__service">Финская парная</li>
            <li class="servicesList__service">Бассейн 2х2, глубина 1,8 м</li>
            <li class="servicesList__service">2 комнаты отдыха</li>
            <li class="servicesList__service">Кальян</li>
            <li class="servicesList__service">Нарды</li>
            <li class="servicesList__service">Бар</li>
            <li class="servicesList__service">Караоке</li>
            <li class="servicesList__service">Парковка</li>
          </ul>
        </section><!-- end services -->
        <div class="clearfix"></div><!-- begin photos -->
        <section class="photos">
          <h2 class="photos__title blueContainer text-center">Фотографии</h2>
          <div class="photosList"><a class="photoContainer" href="../../../static/public/img/fp/bassein1.jpg"><img class="photoContainer__photo" data-src="../../../static/public/img/fp/bassein1.jpg" alt="Апартаменты"></a><a class="photoContainer" href="../../../static/public/img/fp/room1.jpg"><img class="photoContainer__photo" data-src="../../../static/public/img/fp/room1.jpg" alt="Апартаменты"></a><a class="photoContainer" href="../../../static/public/img/fp/room2.jpg"><img class="photoContainer__photo" data-src="../../../static/public/img/fp/room2.jpg" alt="Апартаменты"></a><a class="photoContainer" href="../../../static/public/img/fp/sauna1.jpg"><img class="photoContainer__photo" data-src="../../../static/public/img/fp/sauna1.jpg" alt="Апартаменты"></a><a class="photoContainer" href="../../../static/public/img/fp/tv1.jpg"><img class="photoContainer__photo" data-src="../../../static/public/img/fp/tv1.jpg" alt="Апартаменты"></a>
          </div>
        </section><!-- end photos --><!-- begin aboutSauna -->
        <article class="aboutSauna center-block">
          <h4 class="aboutSauna__mainTitle title">Финская сауна &mdash; европейский опыт и огромная популярность</h4>
          <p class="aboutSauna__paragraph">Сегодня финская сауна в Екатеринбурге пользуется огромной популярностью. Стоимость ее посещения невысока, а вот оздоровительный эффект превосходен. Как показала практика, финская баня прекрасно снимает физическое напряжение, расслабляет мышцы, стимулирует работу кровеносной системы. Если снять финскую сауну не один раз, а сделать такие посещения регулярными, то удается существенно укрепить здоровье. Для семейного бюджета это ненакладно, ведь цена билета демократична. Доказано, что финская сауна способствует нормализации обмена веществ и кровяного давления. Человек при периодических визитах сюда становится бодрым душой и телом. А ввиду того стоимость билета низка, расходы не тяготят.</p>
          <h5 class="aboutSauna__title title">Финская сауна: цена, особенности</h5>
          <p class="aboutSauna__paragraph">Финская баня отличается от русской тем, что здесь используется сухой пар. Соответственно, влажность воздуха здесь не превышает 25%, а вот температура воздуха достигает 90 – 110°С. В ряде случаев финская и более усовершенствованная инфракрасная баня способна прогреться до температуры в 130°С. Если вы собираетесь снять парилку такого типа, то можете не опасаться «зажариться» в ней. Вследствие низкой влажности жар тут переносится значительно легче, чем в классической русской бане. Недаром инфракрасная сауна рекомендована для посещения абсолютно всех людей. Цена билета доступна также всем.</p>
          <p class="aboutSauna__paragraph">Физическое расслабление здесь достигается путем чередования воздействия на тело сухого пара и прохладной воды. Многие люди предпочитают снять инфракрасную сауну именно потому, что ее действие более мягкое, щадящее, но весьма эффективное. Да и цена привлекательна. В ходе парения в ней организм успешно очищается от имеющихся в нем шлаков и токсинов. Причем, собираясь снять парилку этого типа, не приходится заботиться о приобретении веников. В инфракрасной бане они не нужны. В стоимость билета входят некоторые банные услуги (выдатся полотенца, простыни). </p>
          <h4 class="aboutSauna__title title">Инфракрасная сауна: цена демократична, оздоровление для всех</h4>
          <p class="aboutSauna__paragraph">Врачами инфракрасная сауна в Екатеринбурге рекомендована  практически всем. В отношении таких банных процедур ограничений не существует. Тем более что стоимость их невелика. Инфракрасную баню разрешено посещать даже маленьким детям, беременным женщинам и старикам.</p>
          <p class="aboutSauna__paragraph">Собираясь снять восточную парилку, нужно учесть, что билет имеет более низкую стоимость в дневные часы. Вечером его цена поднимается. Это объясняется тем, что люди после работы желают снять физическое и психологическое напряжение. А восточная парилка отлично подходит для этого.</p>
          <p class="aboutSauna__paragraph">Целесообразно снять инфракрасную парилку всей семьей. В таком случае цена существенно ниже. А вот в ночные часы и в выходные дни стоимость визита в инфракрасную баню, наоборот, поднимается. Это обусловлено тем, что в указанный период снять финскую парилку желают многие горожане. Так как наплыв посетителей огромен, сауны стоимость поднимают.</p>
        </article><!-- end aboutSauna -->
      </div>
    </main>
    <footer class="footer" itemscope itemtype="http://schema.org/Person"><span class="sr-only" itemprop="name">vip-sauna6.ru</span>
      <div class="container"><!-- begin footerNav -->
        <nav class="footerNav" role="navigation" aria-labelledby="footerNav"><span class="sr-only" id="footerNav">The footer's navigation</span>
          <ul class="footerNavList list-unstyled">
            <li class="footerNavItem zoom col-sm-7 col-md-4 col-xs-12"><a class="footerNavItemRefer" href="{% url 'turkish' %}" role="menuitem">
                <figure class="footerNavItemRefer__image footerNavItemRefer__image_name-turkish"></figure></a></li>
            <li class="footerNavItem zoom col-sm-6 col-md-4 col-xs-12"><a class="footerNavItemRefer" href="{% url 'finskaya' %}" role="menuitem">
                <figure class="footerNavItemRefer__image footerNavItemRefer__image_name-finskaya"></figure></a></li>
            <li class="footerNavItem zoom col-sm-6 col-md-4 col-xs-12"><a class="footerNavItemRefer" href="{% url 'contact' %}" role="menuitem">
                <figure class="footerNavItemRefer__image footerNavItemRefer__image_name-contact"></figure></a></li>
          </ul>
        </nav><!-- end footerNav -->
      </div><!-- begin footerInfo -->
      <div class="footerInfo">
        <div class="container">
           <!-- begin footerContacts -->
          <address class="footerContacts col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="footerContactsItem" itemscope itemtype="http://schema.org/PostalAddress"><strong class="footerContactsItem__label">Адрес</strong><br><a class="footerContactsItem__refer not-follow" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%9F%D0%B5%D1%80%D0%B2%D0%BE%D0%BC%D0%B0%D0%B9%D1%81%D0%BA%D0%B0%D1%8F,+77,+%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+620062/@56.8459859,60.639357,17z/data=!3m1!4b1!4m5!3m4!1s0x43c16c2be5298e21:0x77522d799d8f3f75!8m2!3d56.8459859!4d60.6415457"><span itemprop="addressLocality">г. Екатеринбург </span><span itemprop="streetAddress">ул.Первомайская, 77</span></a></div>
            <div class="footerContactsItem"><strong class="footerContactsItem__label">Телефон</strong><br><a class="not-follow footerContactsItem__refer" href="tel:+73433616911"><span itemprop="telephone">+7 (343) 36-16-911</span></a></div>
          </address><!-- end footerContacts -->
<!-- begin shares -->
          <div class="shares col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h2 class="title shares__title">Акции!</h2>
            <ol class="sharesList"> 
              <li class="sharesList__item">При заказе от 4-ех часов &mdash; кальян в подарок!</li>
              <li class="sharesList__item">Постоянным клиентам &mdash; дисконтные карты!</li>
            </ol>
          </div><!-- end shares -->
<!-- begin friends -->
          <div class="friends col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h2 class="friends__title title_blue text-right">Наши друзья:</h2>
            <ul class="firendsList">
              <li class="firendsListItem"><a class="friendImageContainer center-block pull-right not-follow" href="http://xn----7sbarfsulg5axs7h.xn--p1ai/" rel="colleague"><span class="sr-only" itemprop="colleague">Оздоравительный центр "Дельфин"</span>
                  <figure class="friendImageContainer__image friendImageContainer__image_name-dolphin"></figure></a></li>
              <li class="firendsListItem"><a class="friendImageContainer center-block pull-right not-follow" href="http://xn----7sbabar8cnf6axg.xn--p1ai/" rel="colleague"><span class="sr-only" itemprop="colleague">Laguna клуб саун</span>
                  <figure class="friendImageContainer__image friendImageContainer__image_name-laguna"></figure></a></li>
            </ul>
          </div><!-- end friends -->
        </div>
      </div><!-- end footerInfo -->
    </footer>
    <script async src="./../../static/public/js/main.js"></script>
    <link rel="stylesheet" href="./../../static/public/css/main.css" media="none" onload="if (media == &quot;none&quot;) media = &quot;all&quot;">
    <link rel="stylesheet" href="./../../static/public/css/ie-10-up.css" media="none" onload="if (media == &quot;none&quot;) media = &quot;all&quot;"><!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js">
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
<![endif]-->
<!--[if IE]><link type="text/css" rel="stylesheet" href="./../../static/public/css/ie9.css" lazyload="1" /><![endif]-->
  </body>
</html>