
  

.info__paragraphs.paragraphs
  .paragraphs__paragraph.paragraph
    p.paragraph__text.text.
      Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna.   
    a.pull-right.pellenteque__more(href="#") { ... }
  .paragraphs__paragraph.paragraph
    p.paragraph__text.text.
      Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. 

    p.paragraph__text.text.
      Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in dolor.
    
    a.pull-right.paragraph__more(href="#") { ... }
  .paragraphs__paragraph.paragraph
    section.paragraph__section.section
      p.section__text.text
        span.text__date 17/02/2012
        span.text__heading Etiam ullamcorper in Paris
        
        span.text__someText Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus. 
        
        a.pull-right.paragraph__more(href="#") { ... }

    section.paragraph__section.section
      p.section__text.text
        span.text__date 12/01/2012
        span.text__heading Etiam ullamcorper in Paris
        
        span.text__someText Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus. 
        
        a.pull-right.paragraph__more(href="#") { ... }
    