.header {
   width: 100%;
   &__navbar {
     margin-bottom: 0; 
   }
  .container {
    width: 100%;    
  }
  nav {
    background-color: transparent;
    border-color: transparent;
  }
}
@import "logo/logo.scss";
@import "navigation/navigation.scss";